.login-form {
  padding: 6rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40rem;
}

.login-form h2 {
  font-size: 4.4rem;
}

.login-form p {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  text-align: center;
}

.error {
  color: red;
  font-size: 4rem;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.login-form form div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 30rem) {
  .login-form {
    padding: 4rem;
    width: 30rem;
  }

  .login-form h2 {
    font-size: 3.6rem;
  }
}

@media (max-width: 22rem) {
  .login-form {
    padding: 2rem;
    width: 25rem;
  }

  .login-form h2 {
    text-align: center;
  }
}

@media (max-width: 18rem) {
  .login-form {
    width: 80%;
    padding: 1rem;
  }

  .login-form h2 {
    font-size: 3rem;
  }
}
