.login-form {
  padding: 6rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 40rem;
}

.login-form h2 {
  font-size: 4.4rem;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.login-form form div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
