.container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  color: #fff;
}

.container h1 {
  font-size: 7.4rem;
  font-weight: 600;
}

.container p {
  font-size: 3.6rem;
}

@media (max-width: 62em) {
  .container {
    max-width: 60rem;
  }

  .container h1 {
    font-size: 6.2rem;
  }

  .container p {
    font-size: 3rem;
  }
}

@media (max-width: 44em) {
  .container {
    width: 80%;
  }

  .container h1 {
    font-size: 4.4rem;
  }

  .container p {
    font-size: 2rem;
  }
}

@media (max-width: 34em) {
  .container h1 {
    font-size: 3.6rem;
  }

  .container p {
    font-size: 2rem;
  }
}

@media (max-width: 28em) {
  .container {
    width: 90%;
  }

  .container h1 {
    font-size: 3rem;
  }
}

@media (max-width: 20em) {
  .container h1 {
    font-size: 2.2rem;
  }

  .container p {
    font-size: 1.6rem;
  }
}
