.loading-movies {
  font-size: 6.2rem;
  font-weight: 500;
}

.error {
  font-size: 5.2rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.8);
  color: red;
  border-radius: 10px;
  padding: 4rem;
  text-align: center;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.searched-movies {
  width: 150rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  max-height: 22rem;
}

.carousel {
  width: 150rem;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.carousel img {
  width: 100%;
}

.carousel h1 {
  font-size: 5.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

@media (max-width: 125rem) {
  .carousel {
    width: 100rem;
  }

  .searched-movies {
    width: 100rem;
  }
}

@media (max-width: 75rem) {
  .carousel {
    width: 80rem;
  }

  .searched-movies {
    width: 80rem;
  }
}

@media (max-width: 64rem) {
  .carousel {
    width: 60rem;
  }

  .carousel h1 {
    font-size: 3.6rem;
    border-radius: 5px;
  }

  .searched-movies {
    width: 60rem;
  }
}

@media (max-width: 44rem) {
  .carousel {
    width: 45rem;
  }

  .carousel h1 {
    font-size: 2.4rem;
  }

  .searched-movies {
    width: 45rem;
  }
}

@media (max-width: 34rem) {
  .carousel {
    width: 35rem;
  }

  .searched-movies {
    width: 35rem;
  }

  .error {
    padding: 2rem 1rem;
    width: 80%;
    font-size: 3rem;
  }
}

@media (max-width: 25rem) {
  .carousel {
    width: 80%;
  }

  .carousel h1 {
    font-size: 2rem;
  }

  .searched-movies {
    width: 80%;
  }

  .error {
    padding: 1rem 0.5rem;
    width: 80%;
    font-size: 2rem;
  }
}
