.button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 5px;
  font-weight: 600;
}

@media (max-width: 25em) {
  .button {
    font-size: 1.8rem;
    padding: 0.6rem 2rem;
  }
}

@media (max-width: 18em) {
  .button {
    font-size: 1.4rem;
    padding: 0.4rem 1rem;
  }
}
