.searched-movie {
  width: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem 0 1rem 2rem;
  cursor: pointer;
}

.searched-movie h2 {
  font-size: 3rem;
}

@media (max-width: 125em) {
  .searched-movie h2 {
    font-size: 2rem;
  }
}

@media (max-width: 34em) {
  .searched-movie h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 25em) {
  .searched-movie h2 {
    font-size: 1.6rem;
    padding: 0.5rem;
  }
}
