.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 4rem;
  z-index: 2;
}

.logo {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4.4rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: red;
  margin: 0;
  text-decoration: none;
}

.logo:hover,
.logo:active {
  color: red;
}

@media (max-width: 30em) {
  .main-header {
    padding: 0 2rem;
  }

  .logo {
    font-size: 3.6rem;
  }
}

@media (max-width: 25em) {
  .main-header {
    height: 6rem;
  }

  .logo {
    font-size: 3rem;
  }
}

@media (max-width: 18em) {
  .logo {
    font-size: 2.4rem;
    font-weight: 500;
  }

  .main-header {
    padding: 0 1rem;
  }
}
