.movie {
  max-width: 120rem;
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
}

.description h1 {
  font-size: 4.4rem;
  margin: 0;
  border-bottom: 1px solid rgb(102, 102, 102);
  padding-bottom: 0.5rem;
}

.description p {
  font-size: 2rem;
  margin: 0;
}

@media (max-width: 88em) {
  .movie {
    width: 100rem;
  }

  .description h1 {
    font-size: 3.6rem;
  }
}

@media (max-width: 75em) {
  .movie {
    width: 80rem;
  }

  .description h1 {
    font-size: 3rem;
  }

  .description p {
    font-size: 1.8rem;
  }
}

@media (max-width: 65em) {
  .movie {
    width: 60rem;
  }
}

@media (max-width: 50em) {
  .movie {
    width: 50rem;
  }
}

@media (max-width: 40em) {
  .movie {
    width: 40rem;
  }

  .description {
    padding: 2rem;
  }

  .description h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 30em) {
  .movie {
    width: 80%;
  }

  .description h1 {
    font-size: 2rem;
  }

  .description p {
    font-size: 1.6rem;
  }
}
