.not-found {
  font-size: 6.2rem;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 32rem) {
  .not-found {
    font-size: 4.4rem;
  }
}

@media (max-width: 23rem) {
  .not-found {
    font-size: 3rem;
  }
}
